@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  font-family: 'Roboto', sans-serif;
}

.numberOfTicketsInput{
  color:black;
  background-color: white;
}

.event {
  width: calc(25% - 20px); /* 25% pentru a afișa câte 4 într-un rând, 20px pentru spațiere */
  margin: 50px 10px; /* Margin între carduri */
  padding: 15px;
  border: 1px solid #ebf1f6;
  box-shadow: 0 0 2px 0 rgba(145, 158, 171, 0.2), 0 12px 24px -4px rgba(145, 158, 171, 0.12);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#choose_event_label {
  color: rgb(28, 44, 222);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  text-align: center;
  background-color: transparent;
  position: absolute;
  width: fit-content;
  height: 700px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-style: italic;
  font-weight: bold;
  text-shadow: 0px 4px 5px #b2823f;
}


#top_bar_container {
  height: 115px;
  border-bottom: 1.5px solid white;
  border-left: 1.5px solid white;
  border-right: 1.5px solid white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgb(46, 46, 46);
  width: 99.9%;
  display: table;
  position: relative;
}
.event-image {
  width: 200px; /* Alegeți dimensiunea dorită pentru imagină */
  height: 150px; /* Ajustați înălțimea corespunzător */
  object-fit: cover; /* Acesta va asigura că imaginea este redimensionată pentru a acoperi întregul element, menținând proporțiile */
  border-radius: 8px; /* Rotunjirea colțurilor pentru aspect mai plăcut */
}


h1 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 12px;
  color: #de411b;
}

.events-container {
  margin-top: 20px;
}

.events .event {
  width: 300px;
  border: 1px solid #ebf1f6;
  box-shadow: 0 0 2px 0 rgba(145,158,171,.2), 0 12px 24px -4px rgba(145,158,171,.12);
}

.event-title {
  color: #de411b
}


#ticketType {
  width: 100%;
}

#main_container_div {
  height: auto;
  width: 95%;
  display: block;
  margin: auto;
  margin-top: 50px;
  text-align: center;
}

.actions {
  flex-wrap: wrap;
}

.quantity {
  margin: 12px auto;
}

#page-header {
  background-color: #fff;
  position: sticky;
  top: 0;
}

.link-item {
  color: #de411b
}

.logo {
  height: 50px;
  padding: 6px;
}

.add-btn {
  background-color: #de411b;
}

.add-to-cart-btn {
  background: #de411b;
  margin: 22px auto;
  display: block;
  width: 100%;
}

.orders-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table-header {
  background-color: #f4f4f4;
  border-bottom: 1px solid #ddd;
  padding: 10px 15px;
  text-align: left;
  font-weight: bold;
}

/* Style for the Edit button */
.edit-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

/* Style for the Edit button image */
.edit-button img {
  width: 20px; /* Adjust the width as needed */
  height: 20px; /* Adjust the height as needed */
}

/* Add a hover effect for the Edit button */
.edit-button:hover {
  transform: scale(1.1);
}

.delete-button {
  background: none;
  border-left: 7px;
  padding: 0;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.modal {
  display: none; /* Modalul este inițial ascuns */
  position: fixed; /* Poziție fixă pe ecran */
  z-index: 1; /* Peste toate celelalte elemente */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Adaugă scrolling dacă conținutul depășește dimensiunile */
  background-color: rgba(0,0,0,0.4); /* Fundal semi-transparent */
}

/* Stilizare pentru conținutul modalului */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* Centralizare pe ecran */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 5px;
}

/* Stilizare pentru butonul de închidere */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Style for the Edit button image */
.delete-button img {
  width: 20px; /* Adjust the width as needed */
  height: 20px; /* Adjust the height as needed */
}

/* Add a hover effect for the Edit button */
.delete-button:hover {
  transform: scale(1.1);
}



/* Common styling for all buttons */
.increment-button,
.decrement-button,
.edit-type-button{
  padding: 5px 10px;
  margin: 2px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

/* Styling for increment button */
.increment-button {
  background-color: green;
  color: white;
}

/* Styling for decrement button */
.decrement-button {
  background-color: orange;
  color: white;
}

/* Styling for edit type button */
.edit-type-button {
  background-color: blue;
  color: white;
}


.order td {
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
}

.order:last-child td {
  border-bottom: none;
}

.main-content-component {
  margin-bottom: 40px;
}

.inner_each_event_name_container {
  background-color: #e2e8f0;
  padding: 4px;
}

.inner_each_event_name_container {
  color: white;
  border-bottom: 2px solid rgb(56, 56, 56);
  border-left: 2px solid rgb(56, 56, 56);
  border-right: 2px solid rgb(56, 56, 56);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 7px;
  padding-top: 2px;
  margin-top: -4px;
  text-align: center;
  word-break: break-word;
}


.each_event_name {
  margin: 0;
  color: #2d3748;
}

.event-card {
  width: calc(25% - 16px);
  margin: 8px;
  padding: 8px;
  border: 1px solid #e2e8f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.event-card img {
  max-width: 100%;
  height: auto;
}

#search_event_input {
  width: 240px;
  height: 45px;
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid white;
  font-size: 20px;
  color: white;
  opacity: 0.55;
  transition: 0.3s all ease;
}


#scroll_up_arrow_image {
  width: 100px;
  position: fixed;
  bottom: 20px;
  left: 25px;
  border-radius: 100%;
  opacity: 0.6;
  filter: contrast(75%);
  display: none;
  transition: 0.2s all ease;
}

#scroll_up_arrow_image:hover {
  opacity: 1;
  transition: 0.2s all ease;
  cursor: pointer;
}

